main {
  background: url(../assets/img/pattern/hp-pattern-dark.webp);
}

.s-intro {
  min-height: 70vh;
  margin: 0 auto;
  padding: 1em 0;
  background: url(../assets/img/walls/wallpaperflare.com_wallpaper1.webp);
  background-size: cover;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.welcome {
  margin: 0px auto;
  width: 60%;
  border-radius: 28px;
  background: rgba(107, 103, 103, 0.6);
  box-shadow: 3px 3px 3px #888686;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome h1{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.welcome p{
  margin: 0.3em;
  padding: 0.2em;
}

.welcome p a{
  color: var(--text-color-dark);
  font-family: var(--font-family-texts);
}

.welcome p a:hover {
  color: var(--complementary-color);
}

#houses-list{
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  margin-bottom: 2em;
  padding: 2em;
  width: 80%;
  align-items: center;
  justify-items: center;
  align-content: center;
}

#houses-list div h4 {
  font-size: 0.9em;
}

#houses-list div li,
#houses-list div p {
  font-size: 0.75em;
}

.card-Gryffindor {
  background: rgb(140, 20, 16);
    background: linear-gradient(180deg, rgba(140, 20, 16, 1) 46%, rgba(222, 141, 48, 1) 70%);
}
.card-Slytherin {
  background: rgb(27, 111, 53);
    background: linear-gradient(180deg, rgba(27, 111, 53, 1) 40%, rgba(238, 240, 240, 1) 77%);
}
.card-Hufflepuff {
  background: rgb(223, 185, 41);
    background: linear-gradient(180deg, rgba(223, 185, 41, 1) 39%, rgba(26, 31, 33, 1) 74%);
}
.card-Ravenclaw {
  background: rgb(12, 55, 100);
    background: linear-gradient(180deg, rgba(12, 55, 100, 1) 49%, rgba(139, 152, 161, 1) 65%);
}

.card-container,
.card-container-spells {
  width: 350px;
  height: 380px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.front-content,
.front-content-spells {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card-container-spells {
    width: 300px;
    height: 330px;
}

.front-content-spells {
  background-color: rgba(82, 82, 82, 0.836);
}

.front-content-spells h4 {
  padding: 10px;
}

.front-content-spells p {
  padding: 20px;
  font-size: 0.9em;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: var(--tertiary-color-dark);
  color: var(--text-color-dark);
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateY(96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.content img {
  width: 100%;
}

.card-Gryffindor .content .heading, 
.card-Slytherin .content .heading, 
.card-Hufflepuff .content .heading, 
.card-Ravenclaw .content .heading, 
.card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card-Gryffindor:hover .content, 
.card-Slytherin:hover .content, 
.card-Hufflepuff:hover .content, 
.card-Ravenclaw:hover .content, 
.card:hover .content {
  transform: translateY(0);
}

.card-Gryffindor:hover .front-content, 
.card-Slytherin:hover .front-content,
.card-Hufflepuff:hover .front-content, 
.card-Ravenclaw:hover .front-content, 
.card:hover .front-content {
  transform: translateY(-30%);
}

.card-Gryffindor:hover .front-content img, 
.card-Slytherin:hover .front-content img, 
.card-Hufflepuff:hover .front-content img, 
.card-Ravenclaw:hover .front-content img,
.card:hover .front-content h4,
.card:hover .front-content p {
  opacity: 0;
}

.spells-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  align-items: center;
  justify-items: center;
}

#movies-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.movie-card {
  min-width: 65%;
  min-height:max-content;
  border-radius: 1rem;
  background-color: var(--secondary-color-dark);
  padding: 1rem;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-gap: 1rem;
  gap: 1rem;
}

.image {
  height: 11rem;
  width: 8rem;
  border-radius: 0.5rem;
  background-color: rgb(118, 36, 194);
  background: linear-gradient(to bottom right, rgb(118, 36, 194), rgb(185, 128, 240));
}

.image img {
  width: 100%;
}

.infos {
  height: 7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.synopsis {
  font-size: 0.9em;
  line-height: 1rem;
  color: var(--text-color-dark);
  padding: 0.5em;
}

.stats {
  width: 90%;
  margin-left: 20px;
  margin-top: 8px;
  border-radius: 0.5rem;
  background-color: var(--text-color-dark);
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.75rem;
  line-height: 1.1rem;
  color: rgba(0, 0, 0, 1);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
}

.state-value {
  font-weight: 700;
  color: var(--text-color-light);
}

.request {
  margin-top: 1.8rem;
  width: 80%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.mov-spoiler {
  display: none;
  padding: 0.5em;
  font-size: 0.9em;
}

#books-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 30px;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}

.s-books article {
  width: 220px;
  height: max-content;
  border: 1px transparent var(--tertiary-color-dark);
  border-radius: 1em;
  background-color: var(--secondary-color-dark);
  
}

article img {
  width: 100%;
}

article h4, 
article p {
  padding: 0.4em;
}

article button {
  margin: 1.3rem 0;
  width: 80%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

article button a {
  font-family: var(--font-family-texts);
  color: var(--text-color-light);
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
}

.auth-bio {
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 0 3em;
  background-color: var(--secondary-color-dark);
  margin: 0 auto;
  border-radius: 0.5em;
}

.auth-bio h3 {
  font-weight: 500;
  font-size: 1.4em;
  color: var(--text-color-dark);
}

.bio-img {
    padding: 1em;
    border-right: 2px solid var(--tertiary-color-dark);
}

.bio-img img {
  border-radius: 0.3em;  
}

.bio-info {
  padding: 2.5em;
}

.bio-info p, 
.bio-info ul {
  text-align: left;
}

.bio-info p {
  margin-bottom: 0.5em;
}

.bio-info li {
  list-style: square;
}

.bio-info li, 
.bio-info .pers-web {
  margin-top: 0.5em;
}

.bio-info a {
  font-family: var(--font-family-texts);
  color: var(--text-color-dark);
}

@media (max-width: 900px) {
  #houses-list {
      grid-template-columns: repeat(1, 1fr);  
    }

   .spells-list {
     grid-template-columns: repeat(2, 1fr);
   }

    #movies-list {
      grid-template-columns: repeat(2, 1fr);
    }

    .movie-card {
      min-width: 65%;
      min-height: max-content;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 1rem;
      gap: 1rem;
    }

    .name h4 {
      font-size: 0.8em;
    }

    .synopsis {
      font-size: 0.8em;
      line-height: 1.2rem;
      color: var(--text-color-dark);
      padding: 1em;
    }

    .request {
      margin-top: 2rem;
      width: 90%;
      border: 1px solid transparent;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .mov-spoiler {
      display: none;
      padding: 0.5em;
      font-size: 0.8em;
    }

    .bio-info {
      padding: 1.3em;
    }
}

@media (max-width: 680px) {
  .auth-bio {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      text-align: center;
      padding: 0 3em;
      background-color: var(--secondary-color-dark);
      margin: 0 auto;
      border-radius: 0.5em;
    }

    .auth-bio h3 {
      font-weight: 500;
      font-size: 1.4em;
      color: var(--text-color-dark);
      padding: 0.3em;
    }

    .bio-img {
      padding: 1em;
      border-right: 0;
      width: 250px;
      height: 300px;
      margin-top: 1em;
    }

    .bio-img img {
      border-radius: 0.3em;
      width: 100%;
    }

    .bio-info {
      padding: 2em 0.1em 1em 0.1em;
      line-height: 1.5rem;
      font-size: 0.8em
    }

    .bio-info p,
    .bio-info ul {
      text-align: left;
    }

    .bio-info p {
      margin-bottom: 0.5em;
    }

    .bio-info li,
    .bio-info .pers-web {
      margin-top: 0.5em;
    }

    .bio-info a {
      font-family: var(--font-family-texts);
      color: var(--text-color-dark);
    }
}

@media (max-width: 500px) {
  #houses-list {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .spells-list {
    grid-template-columns: repeat(1, 1fr);
    }

  .card-container-spells {
    width: 300px;
    height: 300px;
  }

  #movies-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .movie-card {
    min-width: 65%;
    min-height: max-content;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
  }

  .name h4 {
    font-size: 0.8em;
  }

  .synopsis {
    font-size: 0.8em;
    line-height: 1.2rem;
    color: var(--text-color-dark);
    padding: 1em;
  }

  .request {
    margin-top: 2rem;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .mov-spoiler {
    display: none;
    padding: 0.5em;
    font-size: 0.8em;
  }

}
 








