* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: HARRYP;
    src: url(../assets/fonts/HARRYP__.TTF);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --primary-color-dark: #121212;
    --secondary-color-dark: #4a4a4a;
    --tertiary-color-dark: #2b2e2c;
    --primary-color-light: #78afcf;
    --secondary-color-light: #dee1e2;
    --tertiary-color-light: #9dd0ee;
    --complementary-color: #f1cb3e;
    --text-color-dark: #f2f2f2;
    --text-color-light: #141414;
    --font-family-titles: HARRYP,
        'Gill Sans',
        'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    --font-family-texts: Montserrat,
        Calibri,
        'Gill Sans',
        'Gill Sans MT',
        'Trebuchet MS',
        sans-serif;
}

main {
    text-align: center;
    background-color: var(--secondary-color-dark);
    color: var(--text-color-dark);
}

section {
    padding: 2.2em;
}

h1,
h2,
h3,
a {
    font-family: var(--font-family-titles);
}

p, h4, li, ul {
    font-family: var(--font-family-texts);
}

header {
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark);
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: var(--text-color-dark);
    text-decoration: none;
    font-size: 2rem;
}

ul li {
    list-style: none;
}

h2 {
    padding: 25px;
    color: var(--complementary-color);
    font-weight: 500;
    font-size: 1.8em;
}

a {
    text-decoration: none; 
}

footer {
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark);
    text-align: center;
    padding: 1em 0;
    width: 100%;
}