* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: HARRYP;
    src: url(../assets/fonts/HARRYP__.TTF);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --primary-color-dark: #121212;
    --secondary-color-dark: #4a4a4a;
    --tertiary-color-dark: #2b2e2c;
    --complementary-color-dark: #f1cb3e;
    --text-color-dark: #f2f2f2;
    --primary-color-light: #78afcf;
    --secondary-color-light: #dee1e2;
    --tertiary-color-light: #9dd0ee;
    --complementary-color-light: #f1cb3e;
    --text-color-light: #141414;
    --font-family-titles: HARRYP,
        'Gill Sans',
        'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    --font-family-texts: Montserrat,
        Calibri,
        'Gill Sans',
        'Gill Sans MT',
        'Trebuchet MS',
        sans-serif;
}

h1,
h2,
h3,
a {
    font-family: var(--font-family-titles);
}

p, h4, li, ul {
    font-family: var(--font-family-texts);
}